root = true

# All files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
# Encoding
charset = utf-8

file_header_template = // Copyright 2026 Mark D. Long\n// Licensed under the Apache License, Version 2.0\n// See LICENSE file for details\n\n


# Always require braces for control flow statements
csharp_prefer_braces = always:error
# Enforce analyzer IDE0011 (add braces) as error
dotnet_diagnostic.IDE0011.severity = error
# Also enforce embedded statement style
dotnet_style_allow_embedded_statements_on_same_line_experimental = false:error
# Disallow expression-bodied members for methods to keep braces obvious (optional)
dotnet_style_prefer_expression_bodied_methods = false:suggestion

# Markdown files
[*.md]
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true
end_of_line = crlf


# XAML and Avalonia XAML files
[*.{xaml,axaml}]
charset = utf-8
indent_size = 2
insert_final_newline = true
end_of_line = crlf

