[submodule "legacy/AppleSAWS"]
    path = legacy/AppleSAWS
    url = git@github.com:LydianScaleSoftware/AppleSAWS.git

[submodule "legacy/CiderPress2"]
    path = legacy/CiderPress2
    url = git@github.com:LydianScaleSoftware/CiderPress2.git

[submodule "Pandowdy.Cpu"]
    path = Pandowdy.Cpu
    url = git@github.com:LydianScaleSoftware/Pandowdy.Cpu.git

