[submodule "legacy/AppleSAWS"]
	path = legacy/AppleSAWS
	url = https://github.com/markdavidlong/AppleSAWS.git
[submodule "legacy/CiderPress2"]
	path = legacy/CiderPress2
	url = https://github.com/markdavidlong/CiderPress2.git
[submodule "legacy/6502.NET"]
	path = legacy/6502.NET
	url = https://github.com/markdavidlong/6502.NET.git
